<h1>All users</h1>
<%= will_paginate %>
<ul class=users>
	<%# @users.each do |user| %>
	<%# This is a re-factor. it seems rails has some magic
	  	which makes render a array of an object using a partial 
		to render all the objects in the array using the partial%>
		<%= render @users %>
	<%# end %>
</ul>
<%= will_paginate %>